{%extends 'myAuth/base.html'%}
{% load staticfiles %}
{%block content%}

<div class="main-header-area header-sticky box-shadow is-sticky">
            <div class="container">
				<div class="classy-nav-container light left breakpoint-on">
					<!-- Classy Menu -->
					<nav class="classy-navbar justify-content-between" id="EduStudyNav">

						<!-- Logo -->
						<a class="nav-brand" href="/"><img src="/static/edufield/img/logo.png" alt="logo"></a>

						<!-- Navbar Toggler -->
						<div class="classy-navbar-toggler">
							<span class="navbarToggler"><span></span><span></span><span></span></span>
						</div>

						<!-- Menu -->
						<div class="classy-menu">

							<!-- close btn -->
							<div class="classycloseIcon">
								<div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
							</div>

							<!-- Nav Start -->
							<div class="classynav">
								<ul>
									<li class="cn-dropdown-item has-down pr12"><a href="#" class="active">Home</a>
										<ul class="dropdown">
                                            <li><a href="/">Home</a></li>
                                            <li><a href="/forum/blogs/blog/1/">Forum</a></li>
                                            <!-- <li><a href="index-three.html">Home Demo Three</a></li>
                                            <li class="active"><a href="index-four.html">Home Demo Four</a></li> -->
										</ul>
									<span class="dd-trigger"></span><span class="dd-arrow"></span></li>

                                     <li class="cn-dropdown-item has-down pr12"><a href="#">Account</a>
                                        <ul class="dropdown">


                                            <li><a href="/accounts/dashboard">My Dashboard</a></li>
                                            <li><a title="chats and more" href="/interact/" target="_">Enteract</a></li>
                                            <li><a href="/accounts/logout">Logout</a></li>

                                        </ul>
                                    <span class="dd-trigger"></span><span class="dd-arrow"></span></li>

                                    <li class="cn-dropdown-item has-down pr12"><a href="/courses">Courses</a>
                                        <ul class="dropdown">
                                            <li><a href="/courses/">Explore Courses</a></li>
                                            <li><a href="/tracks/">Pro Tracks</a></li>
                                            <li><a href="/courses/python/challenges">12-Day Challenge</a></li>
                                        </ul>
                                    <span class="dd-trigger"></span><span class="dd-arrow"></span></li>

                                     <li class="cn-dropdown-item has-down pr12"><a href="#">Utilities</a>
                                        <ul class="dropdown">
                                            <!--<li><a href="https://www.onlinegdb.com">Code Online</a></li>-->
                                            <li><a href="/weask/">We-ask</a></li>
                                            <li><a href="https://pywe.github.io/PywE-IDE/" target="_">Code Online</a></li>
                                            <li><a href="https://pharst.pywe.org" target="_">Phars+ Care</a></li>
                                             <li><a href="https://pharst.pywe.org/ichare/" target="_">iChare</a></li>
                                            <li><a href="/companies">Price of Services</a></li>

                                            <!--<li><a href="single-events.html">Events Details</a></li>-->
                                        </ul>
                                    <span class="dd-trigger"></span><span class="dd-arrow"></span></li>
                                    <li class="cn-dropdown-item has-down pr12"><a href="/events">Events</a>
										<ul class="dropdown">
                                            <li><a href="/events">Our Events</a></li>
										</ul>
									<span class="dd-trigger"></span><span class="dd-arrow"></span></li>

									<!-- <li><a href="#">Pages</a>
										<ul class="dropdown">
											<li><a href="about.html">About Us</a></li>
											<li><a href="#">Blog</a>
												<ul class="dropdown">
													<li><a href="blog-style-one.html">Blog Style One</a></li>
													<li><a href="blog-style-two.html">Blog Style Two</a></li>
													<li><a href="blog-style-three.html">Blog Style Three</a></li>
													<li><a href="single-blog.html">Blog Details</a></li>
												</ul>
											</li>
											<li><a href="#">Shop</a>
                                                <ul class="dropdown">
                                                    <li><a href="shop-style-one.html">Shop Style One</a></li>
                                                    <li><a href="shop-style-two.html">Shop Style Two</a></li>
                                                    <li><a href="single-shop.html">Shop Details</a></li>
                                                    <li><a href="cart.html">Cart</a></li>
                                                    <li><a href="checkout.html">Checkout</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="#">Courses</a>
                                                <ul class="dropdown">
                                                    <li><a href="courses-style-one.html">Courses Style One</a></li>
                                                    <li><a href="courses-style-two.html">Courses Style Two</a></li>
                                                    <li><a href="single-courses.html">Courses Details</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="#">Teacher</a>
                                                <ul class="dropdown">
                                                    <li><a href="teacher-style-one.html">Teacher Style One</a></li>
													<li><a href="teacher-style-two.html">Teacher Style Two</a></li>
													<li><a href="single-teacher.html">Teacher Details</a></li>
                                                </ul>
                                            </li>
											<li><a href="#">Events</a>
												<ul class="dropdown">
													<li><a href="event-style-one.html">Events Style One</a></li>
                                                    <li><a href="event-style-two.html">Events Style Two</a></li>
                                                    <li><a href="single-events.html">Events Details</a></li>
												</ul>
											</li>
                                            <li><a href="#">Contact</a>
												<ul class="dropdown">
													<li><a href="contact-style-one.html">Contact Style One</a></li>
                                                    <li><a href="contact-style-two.html">Contact Style Two</a></li>
												</ul>
											</li>
                                            <li><a href="admission.html">Admission</a></li>
											<li><a href="error.html">404 Error</a></li>
											<li><a href="faq.html">FAQ</a></li>
											<li><a href="login.html">Login</a></li>
											<li><a href="register.html">Register</a></li>
										</ul>
									</li> -->

									<!-- <li><a href="#">Blog</a>
										<ul class="dropdown">
											<li><a href="blog-style-one.html">Blog Style One</a></li>
                                            <li><a href="blog-style-two.html">Blog Style Two</a></li>
                                            <li><a href="blog-style-three.html">Blog Style Three</a></li>
                                            <li><a href="single-blog.html">Blog Details</a></li>
										</ul>
									</li>

									<li><a href="#">Shop</a>
										<ul class="dropdown">
											<li><a href="shop-style-one.html">Shop Style One</a></li>
                                            <li><a href="shop-style-two.html">Shop Style Two</a></li>
                                            <li><a href="single-shop.html">Shop Details</a></li>
                                            <li><a href="cart.html">Cart</a></li>
                                            <li><a href="checkout.html">Checkout</a></li>
										</ul>
									</li>
									 -->
									<li class="cn-dropdown-item has-down pr12"><a href="#">Contact</a>
										<ul class="dropdown">
											<li><a href="/interact" target="_">Enteract</a></li>
                                            <!-- <li><a href="contact-style-two.html">Contact Style Two</a></li> -->
										</ul>
									<span class="dd-trigger"></span><span class="dd-arrow"></span></li>

									<!--<li><a href="#search" class="search-btn"><i class="icofont-search-2"></i></a></li>-->
								</ul>
							</div>
							<!-- Nav End -->
						</div>
					</nav>
				</div>
			</div>
        </div>

{%endblock content%}
